h1 {
    color: blue;
    font: bold sans-serif 30px
}
label{display: inline-block;
width: 90px;
text-align: left;}
input, textarea{font: 1em;
width: 90px;box-sizing: border-box;
border: 1px solid #999;}
input:focus,
textarea:focus {border-color: #000;}
textarea {vertical-align: top;
height: 5em;}
button{ margin-left: 0.5em;}
